<% require './helpers/helpers.rb' %>

<style>
* {
  background-color: #eaeae1;
  margin-left: auto;
  margin-right: auto;
}
div {
  padding-top: 50px;
  color: #558000;
  text-align: center;
  width: 50%;
}
</style>
<div>
  <h1>Competition Cats: Web Edition</h1>
  <p> a very textual feline game written in ruby and html, alive thanks to sinatra!
  <p> Have fun <%=session[:email]%><br>
</div>
<div>
<% if Helpers::Profile.player_two?(session[:profile_2]) == nil  %>
  <%= "There is no second player. Computer selected!" %>
  <% session[:profile_2] = UserProfile::Player.computer %>
  <%= "Second player is:" %><br>
  <%= session[:profile_2].to_s %>
  <% else %>
  <%= "Second player is:" %><br>
  <%= session[:profile_2] %>
<%end%>
</div>
<div>
<% if Helpers::Profile.has_cat?(session[:profile_1]) == nil  %>
<%= "This player has no cat" %>
<% else %>
<%= "Your cat is:" %><br>
<%= session[:profile_1].cat.to_s %>
<%end%>
</div>
<div>
--"ﾐㅇ ༝ ㅇﾐ----------------------------------------------------------------------------<br>
                              -"ﾐㅇ ༝ ㅇﾐ-<br>
                              pawzmart! $$$<br>
                                                     -"ﾐㅇ ༝ ㅇﾐ-<br>
                     practice: paw fight             watch ad and earn free tokens<br>
                     <a href="/cat">Select a Cat</a>        <br>
                     <a href="/games/quiz">mini-game: CAT101 exam</a>         -1 token <br>
                     mini-game: count mice           -1 token <br>
                     play competition mode!          -3 tokens<br>
         #{"ﾐㅇ ༝ ㅇﾐ"<br>
                     logout      

--------------------------"ﾐㅇ ༝ ㅇﾐ----------------------------------------------------<br>
</div>
